body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    background: linear-gradient(90deg, hsla(171, 87%, 67%, 1) 0%, hsla(236, 100%, 72%, 1) 100%);
}

.container {
    background: linear-gradient(90deg, hsla(31, 90%, 76%, 1) 0%, hsla(302, 82%, 76%, 1) 100%);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    width: 750px;
    border: 1px solid rgb(78, 75, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.container:hover {
    transform: scale(1.01);
}

h2 {
    text-decoration: underline;
    text-align: center;
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px;
    background: #9e3ae1;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid black;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    transform: scale(1.1);
    background: #00aaff;
}

.lists-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.list {
    width: 48%;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin-bottom: 5px;
}

li.completed {
    background: #d4edda;
}

span.timestamp {
    font-size: 0.8em;
    color: #000000;
}

button.complete,
button.delete {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}

button.complete {
    background: #007bff;
}

button.complete:hover {
    background-color: #666;
}

button.delete {
    background: #dc3545;
}

button.delete:hover {
    background: #706162;
}